<div class="col-10 mx-auto my-5">
  <div class="main" style="width: 500px; height: 500px;">
    <canvas id="barChart">{{barChart}}</canvas>
  </div>
  <table class="table table-success table-striped">
     <thead>
      <tr>
          <th>Documento</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>E_Mail</th>
          <th>Telefono</th>
          <th>Ciudad</th>
          <th>Direccion</th>
          <th>Genero</th>
          <th>Acciones</th>
      </tr>
     </thead>
     <tbody>
      @for (item of duenio; track $index) {
        <tr>
            <td>
              <a [routerLink]="['/duenio', item.documento]">{{item.documento}}</a>
            </td>
            <td>{{item.nombre}}</td>
            <td>{{item.apellido}}</td>
            <td>{{item.email}}</td>
            <td>{{item.telefono}}</td>
            <td>{{item.ciudad}}</td>
            <td>{{item.direccion}}</td>
            <td>{{item.genero}}</td>
            <td>
              <button class="btn btn-danger" (click)="borrarDuenio(item.documento)">
                <i class="bi bi-trash"></i>
              </button>
            </td>
        </tr>
      }
     </tbody>
  </table>
</div>
