<div class="bg-warning">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/duenios">DUEÑOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/mascota">MASCOTAS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/paseador">PASEADOR</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/paseo">AGENDAR PASEO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/paseo_perro">HISTORICO</a>
    </li>
  </ul>
</div>

<router-outlet />
